<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <div class="contents_area">
                <a href="/" class="logo">
                    로고
                </a>
                <div>
                    <a href="/logout">
                        로그아웃
                    </a>
                    <a href="/profile">
                        나의 프로필
                    </a>
                </div>
            </div>
        </header>
        <section class="main-page">
            <div class="real-time" id="time">
                0000.00.00 pm 00:00
            </div>
            <div class="list-form">
                <div class="list-row">
                    <h1>To Do List</h1>
                </div>
                <div class="list-row">
                    <a class="role-btn">
                        전체보기
                    </a>
                    <a class="role-btn">
                        날짜로 보기
                    </a>
                </div>
                <div class="list-row">
                    <input type="text" placeholder="새로운 리스트를 입력하세요." autofocus class="input_text">
                    <input type="file" name="img" id="file" class="hidden">
                    <label for="file">이미지 업로드</label>
                    <input type="date" name="date">
                </div>
                <div class="list-row">
                    <a class="role-btn">
                        날짜로 보기
                    </a>
                </div>
                <div class="list-row">
                    <input type="text" class="search" name="search" placeholder="검색하기">
                </div>
            </div>
            <div class="list-container">
                <ul>
                    <% for(let i=0; i<5; i++){ %>
                    <li<%= (i==0)?' class=pic':'' %>>
                        <span class="text">
                            <%= "Lorem ipsum".repeat((i % 3)+1) %>
                        </span>
                        <div class="right">
                            <span class="time">00-00-00</span>
                            <span class="delete role-btn">X</span>
                        </div>
                        </li>
                        <% if(i==0){ %>
                        <li class="li-image-box">
                            <div style="width: 100px; height: 100px; background-color: #ddd;"></div>
                            <div style="width: 100px; height: 100px; background-color: #ddd;"></div>
                            <div style="width: 100px; height: 100px; background-color: #ddd;"></div>
                        </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </section>
    </div>
    <script src="js/time.js"></script>
    <script src="js/animate.js"></script>

</body>

</html>