<%- include('partial/header') %>
<%- include('partial/title') %>

<section class="section main">
    <% for(let i=0; i<5; i++){ %>
        <a  class="item" 
            href="/stories/<%= i %>">
            
            <h4><strong>이름</strong>님의 추억</h4>
            <h3>타이틀</h3>
            <h5>위치</h5>
            <div class="story-img"></div>
        </a>
    <% } %>
</section>

<%- include('partial/footer') %>