<section class="section stories">
    <aside class="map" id="map"></aside>
    <article class="story">
        <div class="story-img" role="img"></div>
        <h2>장소 이름</h2>
        <h3>장소의 주소</h3>
        <p>
            설명입니다.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem deleniti dolor blanditiis in, est incidunt? Explicabo exercitationem voluptatum excepturi corporis.
        </p>
    </article>
</section>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=80e20adfe45a9e891ea8ada6df004d20&libraries=services"></script>
<script src="/js/kakao-map.js" defer></script>