
<form action="/" method="post">
  <div class="input_area">
    <h5>운동:</h5>
    <input type="text" name="wName" autocomplete="off">
  </div>
  <div class="input_area">
    <h5>무게(kg):</h5>
    <input
      type="number"
      name="wWeight"
      autocomplete="off"
      min="5" step="5"
    >
  </div>
  <button type="POST" name="button">추가하기</button>
</form>
