<section class="del modal">
    <ul>
        <h2>delete page</h2>
        <% data.forEach((workout)=>{ %>
        <li>
            <%= workout.work_name %>
            <%= workout.work_weight %>kg
            <form action="/delete" method="post">
                <button type="POST" class="btnWeight" name="delete" value="delete">X</button>
                <input type="hidden" name="wID" value="<%= workout._id %>">
                <input type="hidden" name="userID" value="<%= userID %>">
            </form>
        </li>
        <% }); %>
        <li>
            <button name="del" onclick="btnClose(name)">
                닫기
            </button>
        </li>
    </ul>
</section>