<h2>login</h2>
<form action="/login" method="post">
    <div class="input_area">
        <h5>아이디:</h5>
        <input type="text" name="userID" autofocus="on" autocomplete="off">
    </div>
    <div class="input_area">
        <h5>비밀번호:</h5>
        <input type="password" name="userPW">
    </div>
    <button>로그인</button>
</form>
<form action="/user" method="get">
    <button style="background-color: #555;">가입하기</button>
</form>
