<%- include('header_footer/header.ejs') %>

<div class="app">
  <section class="main">
    <h2>main page</h2>
    <p>hello world😃</p>
    
    <% if(stage==="login"){ %>
      <%- include('login.ejs') %>
    <% }else if(stage==="register"){ %>
      <%- include('register.ejs') %>
    <% } %>
  </section>

</div>

<%- include('header_footer/footer.ejs') %>
