<h2>register</h2>
<form action="/user" method="post">
    <div class="input_area">
        <h5>아이디:</h5>
        <input type="text" name="userID" autofocus="true" autocomplete="off">
    </div>
    <div class="input_area">
        <h5>비밀번호:</h5>
        <input type="password" name="userPW">
    </div>
    <button type="POST" name="button">가입하기</button>
</form>
<form action="/login" method="get">
    <button style="background-color: #555;">로그인</button>
</form>
