<section class="edit modal">
  <ul>
    <h2>update page</h2>
    <% data.forEach((workout)=>{ %>
    <li>
      <%= workout.work_name %>
      <%= workout.work_weight %>kg
      <form action="/update" method="post">
        <button type="POST" class="btnWeight" name="btn" value="+5">+5</button>
        <button type="POST" class="btnWeight" name="btn" value="-5">-5</button>
        <input type="hidden" name="wID" value="<%= workout._id %>">
        <input type="hidden" name="userID" value="<%= userID %>">
      </form>
    </li>
    <% }); %>
    <li>
        <button name="del" onclick="btnClose(name)">
            닫기
        </button>
    </li>
  </ul>
</section>