body {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    border-radius: 0 11px 0 11px;
}
li, ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
header {
    height: 80px;
    padding: 0 2em;
    background-color: #ddd;
}
.contents_area {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    display: inline-block;
    height: 100%;
    line-height: 80px;
    padding: 0 8px;
}
/* λ©”μΈνμ΄μ§€ */
.main-page {
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}
.real-time {
    padding: 20px 0;
    background: #222;
    color: #fff;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
    box-shadow: 2px 2px 3px #aaa;
}
.list-form {
    margin-bottom: 40px;
}
.list-row {
    width: 100%;
    line-height: 2;
    display: flex;
}
.list-row > * {
    flex: 1 1 auto;
    border: 1px solid #aaa;
    background-color: #fff;
    box-shadow: 2px 2px 3px #aaa;
    box-sizing: border-box;
}
.list-row h1 {
    margin: 0;
}
label,
.role-btn {
    cursor: pointer;
}
.hidden {
    display: none;
}
.search {
    height: 34px;
}
.input_text::placeholder,
.search::placeholder {
    text-align: center;
}
.list-container li:first-child {
    border-top: 1px dotted #aaa;
}
.list-container li {
    padding: 8px 10px;
    line-height: 2;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px dotted #aaa;
}
.list-container li > div:last-child {
    flex: 0 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.list-container .role-btn {
    padding: 0 5px;
    margin-left: 5px;
    background: #000;
    color: #fff;
}
li.pic {
    background: #eee;
    cursor: pointer;
}
li.pic > div:last-child::after {
    content: 'π“';
    padding: 0 5px;
    background: pink;
    color: #fff;
    display: block;
    position: absolute;
    right: -30px;
}
.list-container .li-image-box.off {
    height: 0px;
    padding: 0;
}
.list-container .li-image-box {
    justify-content: flex-start;
    height: auto;
    overflow: hidden;
}
@media (max-width: 400px) {
    li,
    .list-row {
        flex-wrap: wrap;
    }
    input {
        min-height: 34px;
    }
    .input_text {
        width: 100%;
    }
}