body {
  background-color: #ddd;
  text-align: center;
  display: flex;
  justify-content: center;
}
.app {
  max-width: 750px;
  background-color: #eee;
  padding: 3% 5%;
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
}
h5 {
  margin: 3px 1px;
  text-align: left;
}
.input_area {
  max-width: 200px;
  margin: auto;
}
.input_area input {
  margin-bottom: 16px;
}
button {
  width: 80px;
  margin-top: 10px;
  border: 0;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  padding: 8px 10px;
}
.weightText {
  font-size: 2em;
}
ul {
  padding: 0;
  margin: 20px 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.btn_box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.btnWeight {
  width: 60px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #777;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
}
.btnWeight:nth-child(even) {
  background-color: tan;
}
.btn_crud button {
  border: 1px solid #000;
  box-sizing: border-box;
}
/* list-page */
.workList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px
}
.workList li {
  flex: 0 1 calc(50% - 5px);
  text-align: center;
  border: 1px solid #555;
  background-color: #f5f5f5;
  padding: 15px 0;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
}
.workList li > * {
  width: 100%;
}
@media (max-width: 500px) {
  .btn_box {
    position: relative;
    height: auto;
    margin-top: 10px;
  }
  .workList li {
    padding: 15px 0 0;
  }
  .btnWeight {
    flex: 1 1 auto;
  }
}
@media (max-width: 400px) {
  .btn_crud {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .btn_crud button {
    flex: 1 1 auto
  }
  .workList li {
    flex: 1 1 100%;
    padding: 15px 0;
  }
  .btn_box {
    display: flex;
    position: absolute;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 0;
  }
  .btnWeight {
    flex: 0 0 2.5em;
    height: 100%;
  }
}

/* 섹션 */
.modal {
  display: none;
}
.modal.on {
  display: block;
  opacity: 0;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  max-height: 600px;
  padding: 10%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 90%);
  border: solid 1px #222;
  box-shadow: 10px 10px 5px rgba(55, 55, 55, 50%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
}
.modal.show {
  opacity: 1;
}