body {
  background-color: #ddd;
  text-align: center;
  display: flex;
  justify-content: center;
}
.app {
  max-width: 600px;
  background-color: #eee;
  padding: 5% 10%;
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
}
h5 {
  margin: 3px 1px;
  text-align: left;
}
.input_area {
  max-width: 200px;
  margin: auto;
}
.input_area input {
  margin-bottom: 16px;
}
button {
  width: 80px;
  margin-top: 10px;
  border: 0;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  padding: 8px 10px;
}
.btnWeight {
  font-size: 12px;
  width: 40px;
  background-color: #555;
  color: #fff;
  margin: 0
}
.weightText {
  font-size: 2em;
}
ul {
  padding: 0;
  margin: 20px 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
li form {
  margin-left: 10px;
  text-align: right;
}
/* list-page */
.workList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.workList li {
  flex: 0 1 48%;
  text-align: center;
  border: 1px solid #222;
  background-color: #f5f5f5;
  padding: 15px 0;
  justify-content: center;
  flex-wrap: wrap;
}
.workList li > * {
  width: 100%;
}