/* reset */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  font-size: 16px;
  font-weight: 300;
  color: #222;
  line-height: 1.5;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  cursor: pointer;

  display: inline-block;
  text-align: center;
  text-decoration: none;

  white-space: nowrap;
  vertical-align: middle;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  cursor: pointer;
}
