<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추억을 공유합니다.</title>
    <link rel="icon" type="image/x-icon" href="">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/main.css">

    <% if(typeof foundItem !== 'undefined'){ %>
        <meta property="og:title" content="<%= foundItem.author %>님의 추억사진 보러가기"/>
        <meta property="og:description" content="<%= foundItem.placeName %>"/>

        <meta property="og:image" content="<%= foundItem.imgUrl %>"/>
    <% } %>
</head>
<body>
    <div id="app">