@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LOTTERIADDAG";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --active-brightness: 0.85;
  --border-radius: 0.5em;
  --box-shadow: 2px 2px 10px;
  --color-accent: #118bee15;
  --color-bg: #fff;
  --color-bg-secondary: #e9e9e9;
  --color-link: #118bee;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-table: #118bee;
  --color-text: #222;
  --color-text-secondary: #aaa;
  --font-family: "LOTTERIADDAG", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.6;
  --width-card: 285px;
  --width-card-small: 360px;
  --width-card-medium: 460px;
  --width-card-wide: 500px;
  --width-content: none;
  --vh: 1vh;
}

/* 텍스트 Typography */
strong {
  color: var(--color-secondary);
}

a {
  color: var(--color-text-secondary);
}

.text-center {
  text-align: center;
}

.text-xl {
  font-size: 3em;
}

.text-lg {
  font-size: 2em;
}

/* 레이아웃 Layout */
body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

section {
  height: calc(var(--vh, 1vh) * 90);
  width: 100%;
  max-width: var(--width-card-wide);
  margin: auto;

  background-color: #fff;
  /* border-bottom: 1px solid var(--color-link); */
}

section:last-of-type {
  padding-bottom: 100px;
}

section .title {
  margin-top: 1em;
}

.flex-item-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.card {
  padding: 0 2em;
}

header {
  height: calc(var(--vh, 1vh) * 90);
  background-color: var(--color-bg-secondary);
  padding: 0;
  justify-content: center;
}

footer {
  width: 100%;
  height: calc(var(--vh, 1vh) * 10);
  padding: 0 2em;
  box-sizing: border-box;

  font-size: 14px;

  display: flex;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;

  background-color: var(--color-table);
  color: var(--color-bg);
}

footer a {
  display: inline;
}

/* 애니메이션 Animation */
.rotate {
  display: inline-block;
  animation: rotate 2s linear infinite;
}

.top-button:hover {
  animation: bigger 1s;
  cursor: pointer;
}

.fade-in {
  opacity: 0.5;
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(100);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* 인풋 Input */
label {
  color: var(--color-table);
}

input {
  outline: var(--color-shadow);
  transition: all 0.3s;
}

input:focus {
  box-shadow: 2px 2px 5px rgba(127, 128, 134, 0.5);
}

input#nickname {
  color: var(--color-text-secondary);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 말풍선 */
.word-bubble {
  padding: 1em 2em;
  border-radius: var(--border-radius);
  background-color: #fff;

  word-break: keep-all;

  box-shadow: 2px 2px 10px rgba(127, 128, 134, 0.5);

  position: relative;
  z-index: 1;
}

.word-bubble::before {
  content: "";
  width: 25px;
  height: 25px;

  position: absolute;
  left: 0.8em;
  bottom: 10px;
  transform: translateY(100%);
  z-index: -1;
}

.word-bubble::after {
  content: "";
  width: 0;
  height: 0;

  border-top: 20px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  position: absolute;
  left: 1em;
  bottom: 3px;
  transform: translateY(100%);
}

/* 탑 버튼 */
.top-button {
  height: 50px;
  width: 50px;

  border-radius: 50%;

  position: fixed;
  height: calc(var(--vh, 1vh) * 90 - 16px);
  right: 14px;

  font-size: 30px;
  text-align: center;
  background-color: #e24e4e;
}

.go-next-button {
  padding: 0;
  margin-bottom: 1em;

  background-color: transparent;
  color: var(--color-text-secondary);
  border-color: transparent;
}

.go-first-button {
  margin-top: 1em;
  cursor: pointer;
}

/* 섹션 1 */
.age-area {
  position: relative;
  margin: 0 auto;
  padding: 30% 0;
  box-sizing: border-box;
}

#age {
  width: 30px;
  height: 30px;
  padding: 0;

  color: #fff;
  background-color: var(--color-secondary);
  border: none;

  position: absolute;
  left: -2px;
  transform: translateY(-8px);
  z-index: 9;
  margin-bottom: 0;

  font-size: 14px;
  border-radius: 50%;
  text-align: center;
}

#step-one .progress-bar {
  height: 10px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;

  background-color: #eee;

  position: relative;
}

#step-one .progress {
  height: 100%;
  width: 25%;

  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;

  background: linear-gradient(to right, #920de9 0%, #ba25f0 100%);

  transition: width 0.2s ease-in-out;
}

/* step3 */
#step-three .progress-container {
  width: 80%;
  height: 20px;
  margin: 10px auto;

  position: relative;

  background-color: #ddd;
}

#step-three .progress-bar {
  height: 100%;
  width: 0%;

  position: absolute;

  background: linear-gradient(to right, #920de9 0%, #ba25f0 100%);
}

#step-three .birth-container {
  max-width: 3.5em;
  min-height: 3rem;
  color: #aaa;

  margin: 10px auto;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#step-three .result {
  margin: 10px 0;
}

#step-three .result {
  margin: 10px 0;
}

.branch-emoji {
  font-size: 3em;
}

/* 미디어쿼리 */
.show-at-mobile {
  display: none;
}

@media (max-width: 768px) {
  .show-at-mobile {
    display: block;
  }

  .card {
    max-width: var(--width-card-small);
  }

  body,
  footer {
    font-size: 0.875em; /* 14px */
  }

  button {
    padding: 0.4rem 2rem;
  }
}

@media (max-width: 460px) {
  .card {
    max-width: calc(100% - 2em);
  }
}
