.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.hidden {
  opacity: 0;
  display: none;
}

.show {
  opacity: 1;
  display: block;
}

.block {
  display: block;
}

.m-0 {
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 9;
  transition: all 0.3 ease-in-out;
}

.modal .shadow {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.modal aside {
  border-radius: 10px;

  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button-small {
  padding: 2px 4px;
  margin: 0;

  font-size: xx-small;
  font-weight: 400;

  background-color: #fff;
  color: #333;
  border-color: #333;
  border-width: 1px;
}

/* ID 입력창 */
#id-sumbit {
  min-width: 400px;
}

form {
  width: 100%;
  padding: 20px;

  box-sizing: border-box;
  text-align: center;
}

/* 헤더 */
header {
  padding: 16px 30px 10px;
  margin-bottom: 6px;

  display: flex;
  flex-flow: column;
  align-items: flex-start;

  position: relative;
}

header .background {
  width: 100vw;
  height: 100%;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background: #eee
    url("https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20230628_55%2F1687916742803mYYFW_JPEG%2F002.jpeg")
    center / cover;

  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);

  z-index: -1;
}

header .background::after {
  content: "";
  width: 100vw;
  height: 100%;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9) 50%,
    transparent 80%
  );
}

header h1 {
  margin: 0;
  font-size: x-large;
}

#meetup-info .row {
  min-height: 17px;
  text-align: left;
}

/* Message List */
#message-list {
  padding: 0;
}

.message-item {
  font-size: small;
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  align-items: center;
}

.message-item .delete {
  color: #aaa;
  cursor: pointer;
}

.message-item .name {
  flex: 0 0 60px;
  display: inline-block;
  background-color: #aaa;
  color: #fff;

  padding: 2px 10px;
  border-radius: 20px;
}

.message-item .text {
  flex: 1;
  text-align: left;
}

/* Guest List */
#guest-list {
  height: 200px;
  padding: 20px;

  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 12px;

  position: relative;

  background: #ddd url("/exercises/024/assets/background-party.png") center /
    cover;
  overflow-y: auto;
}

#guest-info {
  justify-content: space-between;
  gap: 6px;
  font-size: xx-small;
}

#guest-list li {
  height: 20px;
  padding: 2px 6px;

  display: block;

  background-color: #fff;
  font-size: small;
  white-space: nowrap;
}

#guest-aside .info-row .row {
  margin: 0;
}

/* */
#select-aside form {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

#select-aside select {
  width: 100%;
}

#select-aside .row {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}

#select-aside .row input {
  margin: 0;
}

#select-aside .row > *:first-child {
  flex: 0 0 50px;
  font-size: 12px;
}

#select-list {
  height: 220px;
  border-radius: 6px;
  padding: 0;

  border: 1px solid #eee;

  overflow-y: auto;
}

#select-list li {
  height: 40px;
  padding: 0px 16px;

  display: flex;
  align-items: center;
  gap: 4px;

  font-size: small;
  white-space: nowrap;

  text-align: left;
  margin: 0;
}

#select-list .select-item {
  height: 30px;
  padding: 0px 16px;

  display: flex;
  align-items: center;
  gap: 4px;

  font-size: small;
  white-space: nowrap;

  text-align: left;
  margin: 0;
}

#select-list .select-item strong {
  color: #699bec;
}

/* 확률 공개 모달 */
#rate-modal {
  font-size: medium;
}

/* 결과 모달 */
#result-modal aside {
  width: 400px;
  padding: 20px 0;
}

#result-modal .name {
  margin: 0;
  color: #aaa;
}

#result-modal h2 {
  margin: 0 10px;
}

/* rottie */
#confetti {
  position: fixed;
  width: 100vw;
  height: 100vh;

  pointer-events: none;
  z-index: 99;
}

#star {
  width: 200px;

  transition: all 0.2s ease-in-out;
}
