:root {
  --color-primary: #6bb549;
  --color-secondary: #f3fde8;

  --color-primary-nice: #6bb549;
  --color-secondary-nice: #f3fde8;
  --color-accent-nice: #ffbfbf;
  --color-light-nice: #ffe5e5;

  --color-primary-boy: #fde238;
  --color-secondary-boy: #faf2d3;
  --color-accent-boy: #3085c3;
  --color-light-boy: #5cd2e6;

  --color-primary-cute: #ff6ba6;
  --color-secondary-cute: #ffdfdf;
  --color-accent-cute: #aedefc;
  --color-light-cute: #ffecec;

  --color-primary-bad: #383838;
  --color-secondary-bad: #f1efef;
  --color-accent-bad: #b9b9b9;
  --color-light-bad: #eee;
}

/* boy */
.bg-primary-boy {
  background-color: var(--color-primary-boy);
}

.bg-secondary-boy {
  background-color: var(--color-secondary-boy);
}

.bg-accent-boy {
  background-color: var(--color-accent-boy);
}

.bg-light-boy {
  background-color: var(--color-light-boy);
}

/* nice */
.bg-primary-nice {
  background-color: var(--color-primary-nice);
}

.bg-secondary-nice {
  background-color: var(--color-secondary-nice);
}

.bg-accent-nice {
  background-color: var(--color-accent-nice);
}

.bg-light-nice {
  background-color: var(--color-light-nice);
}

/* cute */
.bg-primary-cute {
  background-color: var(--color-primary-cute);
}

.bg-secondary-cute {
  background-color: var(--color-secondary-cute);
}

.bg-accent-cute {
  background-color: var(--color-accent-cute);
}

.bg-light-cute {
  background-color: var(--color-light-cute);
}

/* bad */
.bg-primary-bad {
  background-color: var(--color-primary-bad);
}

.bg-secondary-bad {
  background-color: var(--color-secondary-bad);
}

.bg-accent-bad {
  background-color: var(--color-accent-bad);
}

.bg-light-bad {
  background-color: var(--color-light-bad);
}
