<section id="list">
    <dl>
        <div>
            <dt>
                🌱🌹🔴꽃 이름
            </dt>
            <dd>
                일기
            </dd>
        </div>
        <div>
            <dt>
                🌱🌹🔴꽃 이름
            </dt>
            <dd>
                일기
            </dd>
        </div>
        
        <div>
            <dt>
                🌱🌹🔴꽃 이름
            </dt>
            <dd>
                일기
            </dd>
        </div>
        
        <div>
            <dt>
                🌱🌹🔴꽃 이름
            </dt>
            <dd>
                일기
            </dd>
        </div>
        
        <div>
            <dt>
                🌱🌹🔴꽃 이름
            </dt>
            <dd>
                일기
            </dd>
        </div>
    </dl>
</section>